body {
	height: 100vh;
}


.row div{
	background: gray;
}

#body {
	background: white;
}

.nav-link {
	color: white;
}

.nav-link:hover {
	color:red;
}

.active {
	background-color: red !important; 
}