body {
	height: 100vh;
	overflow-y:hidden;
	overflow-x:hidden;
	background-color: rgb(55,65,67);
}
.nav-tabs{
	flex-wrap:nowrap;
}
h1{
	color: white;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
	color: #fff;
	background-color: #007bff	;
	border-color: #dee2e6 #dee2e6 #fff;
}
a{
	color: #fff;
}
.row div{
	padding: 0px;
	border: 0px black solid;
}
#selected div{
	display: none;
}
.col-md-2half {
	width: 20.83333%;
}
*{
	margin:0;
	padding:0;
    box-sizing: border-box
}
.incr{
   border:none;
   outline:none;
   background-color: #3D9970;
   height:30px;
   width:30px;
}
.decr{
   border:none;
   outline:none;
   background-color: #FF4136;
   height:30px;
   width:30px;
}
.incr:active, .decr:active, .incr:focus, .decr:focus {
	box-shadow:none!important;
	outline: none!important;
	border:none!important;
}
#UnitSize{
	width: 65px;
	margin-left: 20px;
}
.beginC {
	border:none;
    outline:none;
	color: #fff;
	box-shadow: 0px 0px 4px 2px #35819c;
	background-color:#449fc0;
	transition: background-color linear 750ms;
	padding:4px;
	font-size:1.2rem;
}
.beginC:hover{
	background-color:#35819c;
}
decr:focus, incr:focus{
    outline: none!important;
	box-shadow: none!important;
}
#resource-list{
	font-size:1.1rem;
}
#dockTable td{
	padding: 6px;
	text-align:center;
}
#dockTable span{
	font-size:1.4rem;
}
#dockTable .resLabel{
	font-size:1.3rem;
}
.list-group-item{
	background-color: rgb(55,65,67);
	color: #fff;
	border: 0px;
}
.list-group-item > .{
	color: #fff;
}
.badge {
	font-size: 0.7rem;
}
.btn {
	font-size: 1.5rem;
}
.mainRes {
	font-size: 1.5rem;
}
.ul {
	list-style-type:none;
}
#left{
   background-color: rgb(55,65,67);
}
#right{
	padding:0px;
	margin:0px;
	background-color: rgb(55,65,67);
}
#resource-list > .list-group-item{
	list-style-type:none;
}
#rightTab {
	flex-wrap: nowrap;
}
#rightTab > .nav-item{
	font-size:1.05rem;
}
#mangold > .list-group-item{
	font-size: 1.2rem;
	height:45px;
}
#resource-list > .list-group-item{
	height:63px; 
	font-size:1.1rem;
}
#switchContainer{
	height:50px;
}
.resTable {
  font-size: 1.15rem;
  width: 100%;
  text-align:center;
  background-color: rgb(55,65,67);
  color: #fff;
}
#buildingsInZone { 
  font-size: 1.15rem;
  width: 100%;
  text-align:left;
  background-color: rgb(55,65,67);
  color: #fff;
}
#buildingsInZone td{
  padding: 4px;
}
#switchContainer { 
  overflow:hidden;
}
.resLabel{
  text-align:left!important;
  padding-left:12px!important;
}
.resTable tr{
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  transition: all ease 150ms;
}
.resTable tr:not(:first-child):hover {
    border: 1px white solid;
}
.resTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size:1.2rem;
}
.blankRow{
	height:20px !important;
}
*{  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}